.index-wrapper {
    // wrap stuff here
}

.js-toggle {
    cursor: pointer;

    &:after {
        content: ' +';
    }

    &.is-on {
        &:after {
            content: ' -';
        }
    }
}

