<div class="post">
    <div class="close js-close">X</div>
    <div class="forum-form form">
            <div class="error-msg">BITTE ALLE *-FELDER AUSFÜLLEN.</div>
            <input type="text" class="title" id="postTitle" name="postTitle" placeholder="TITEL...*" />
            <textarea id="postPost" name="postPost" placeholder="BEITRAG...*"></textarea>
            <input type="text" class="linktext" id="postLinktext" name="postLinktext" placeholder="Linktext..." />
            <input type="text" class="link" id="postLink" name="postLink" placeholder="Link..." />
            <button class="btn btn-primary btn-lg submit">ABSCHICKEN</button>
    </div>
</div>