footer {
    padding: 20px 10px;
    background: linear-gradient(to bottom, $color-shadow 0, $color-blue-light 16%, $color-blue-light 100%);

    .nav-top {
        float: right;
        clear: both;
    }

    .mailto {
        float: right;
    }
}

//phone tablet
@media screen and (max-width: 960px) {
    footer {
        display: none;
    }
}

