main {
    padding: 10px;
    padding-top: 80px;
    padding-bottom: 80px;
    background: $color-white;
}

//phone tablet
@media screen and (max-width: 960px) {
    main {
        padding-top: 65px;
        padding-bottom: 50px;
    }
}



