<div class="alert">
    <div class="close js-close">X</div>
    <span class="message">{{{ message }}}</span>
    <div class="btn-wrapper">
        <button class="btn js-close">{{ close }}</button>
        <button class="btn js-confirm">{{ confirm }}</button>
    </div>
</div>