<h1>REGELWERK</h1>
<br />

<table>
    <tr>
        <td class="knopf">1</td>
        <td class="regeln-text">
            <b>Jedes Spiel darf nur EINMAL getippt werden. Also aufpassen beim Tippen (wir werden keine  Änderungen nachpflegen und auch versäumte Tipps nicht nachtragen !!!)
            </b>
        </td>
    </tr>
    <tr>
        <td class="knopf">2</td>
        <td class="regeln-text">
            Jede/r Spieler/in repräsentiert genau eine Erst-, Zweit-, bzw. Drittligamannschaft, z. B.:<br /><br />
            - SW Werder Bremen Fötchen<br 7>
            - Schalke 04 Jörn<br />
            - Kaiserslautern Uwe<br />
            usw...
        </td>
    </tr>
    <tr>
        <td class="knopf">3</td>
        <td class="regeln-text">
            Jede/r Spieler/in (1., 2. und 3. Liga) tippt alle 9 Spiele des aktuellen <b>Erstliga</b>spieltages.<br /><br /><br />
        </td>
    </tr>
    <tr>
        <td class="knopf">4</td>
        <td class="regeln-text">
            Punkte für richtig getippte Spiele werden wie folgt vergeben:<br />
            - Richtiger Ergebnistipp 5 Punkte<br />
            - Richtige Tendenz + Tordifferenz (auch bei Unentschieden) 4 Punkte<br />
            - Richtige Tendenz 3 Punkte
        </td>
    </tr>
    <tr>
        <td class="knopf">5</td>
        <td class="regeln-text">
            Die Spieler tippen immer paarweise gegeneinander an einem Spieltag und zwar genau so wie die Erst-, Zweit- bzw.
            Drittligapaarung lautet. D. h. am 1. Spieltag spielt zum Beispiel Werder gegen Schalke und somit tippt Fötchen also
            gegen Jörn. Angenommen Fötchen erwirtschaftet mit seinen Tipps 18 Punkte und Jörn 10 Punkte, so geht diese
             Tippligapartie 18:10 aus. Werder (Fötchen) bekommt wie in der Bundesliga 3 Punkte  dafür. Außerdem
            hat er jetzt eine "Tordifferenz" von 18:10 (Tippdifferenz). Jörn geht  leer aus und hat 0 Punkte
            für diesen Spieltag und 10:18 "Tordifferenz". Alle anderen  Spieler treten ebenso in ihrem Tippduell
            an wie diese beiden.  Am 2. Spieltag geht es genau so weiter. Wieder tippen alle Spieler die 9 Spiele.  
            Diesmal tippt Uwe gegen Fötchen, weil der SV Werder bei Kaiserslautern antritt (s. o.).
            Bei Unentschieden gibt es wie in der Bundesliga für beide Mannschaften (Tipper/innen)  1 Punkt.
            Aus den Ergebnissen der Spieltage werden nach jedem Spieltag die aktuellen  Tabellen ermittelt.
        </td>
    </tr>
    <tr>
        <td class="knopf">6</td>
        <td class="regeln-text">
            Die Drittligabegegnungen in der Tippliga haben im Gegensatz zur 1. und 2. Liga nichts mit dem realen Spielplan zu tun, es gibt in der 3. Tippliga auch nur 18 Mannschaften, dass war technisch nicht anders zu regeln. Ist ja aber auch wurstegal, oder?
        </td>
    </tr>
    <tr>
        <td class="knopf">7</td>
        <td class="regeln-text">
            Die Tipps für den aktuellen Spieltag müssen immer bis spätesten zum  Spieltagsbeginn online abgegeben werden. Sollte ein/e Spieler/in keinen Tipp abgegeben  haben, wird der Tipp mit 0 Punkten gewertet.  Die gesamten aktuellen Spieltagtipps der Tippliga können nach Tippabgabeschluss online eingesehen werden.
        </td>
    </tr>
    <tr>
        <td class="knopf">8</td>
        <td class="regeln-text">
            Notorisches Nichttippen aus Vergesslichkeit oder taktischen Erwägungen wird bestraft. Dreimal in der Saison nicht getippt bedeutet die Gelbe Karte, die Rote Karte folgt nach zwei weiteren nichtgetippten Spieltagen und zieht den Ausschluss aus der Tippliga nach sich! <b>Wobei der endgültige Ausschluss vom Sportgericht entschieden wird!</b>
        </td>
    </tr>
    <tr>
        <td class="knopf">9</td>
        <td class="regeln-text">
            Der Spieleinsatz beträgt 0 € ;)
        </td>
    </tr>
    <tr>
        <td class="knopf">10</td>
        <td class="regeln-text">
            Die Mannschaften die am Ende der Saison in der 1. Liga auf Platz 16, 17, und 18  stehen steigen in die 2. Liga ab, entsprechend steigen die ersten drei Mannschaften der 2. Liga auf. Gleiches gilt natürlich auch für die anderen Ligen
        </td>
    </tr>
    <tr>
        <td class="knopf">11</td>
        <td class="regeln-text">
            <b>Jedes Spiel darf nur EINMAL getippt werden. Also aufpassen beim Tippen (wir werden keine  Änderungen nachpflegen und auch versäumte Tipps nicht nachtragen !!!) </b>
        </td>
    </tr>

</table>